HELP.md
target/
!Backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### env ###
env.env
*.env.json

###markdown###
/Problems.md

###vue###
Frontend/vue/node_modules/
Frontend/vue/.DS_Store
Frontend/vue/dist

# Log files
Frontend/vue/npm-debug.log*
Frontend/vue/yarn-debug.log*
Frontend/vue/yarn-error.log*
Frontend/vue/pnpm-debug.log*

Frontend/vue/*.suo
Frontend/vue/*.ntvs*
Frontend/vue/*.njsproj
Frontend/vue/*.sln
Frontend/vue/*.sw?
